* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: white;
  width: 300px;
  position: sticky;
  top: 40px;
  z-index: 100;
  height: calc(100vh - 40px);
}

.sidebar-content {
  padding: 50px 10px 30px 30px;
}

.sidebar-icons {
  font-size: 1.2rem;
  padding-right: 3px;
  width: auto;
  height: auto;
}

a > p {
  color: #d9d9d9;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}

a > p.active {
  background-color: hsl(0, 0%, 70%);
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}

a > p:hover {
  color: rgb(97, 95, 95);
  padding-left: 7px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
