.copy {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 15px 8px 15px;
  color: whitesmoke;
}

.social-media {
  padding: 0px 10px 0px 10px;
  color: #070427;
  font-size: 20px;
}

.social-media:hover {
  color: #070427;
}
